/*Vars*/
:root {
    --navbar-hover-color: rgb(228, 55, 59);
    --avengers-font: Avengeance Heroic Avenger;
}

/*Body page*/
body {
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    font-family: sans-serif;
}

/* Navbar global */
.global-navbar {
    width: 100%;
    height: 50px;
    background: rgb(10, 4, 42);
    box-shadow: 2px 2px 2px black;
}

.global-navbar ul li {
    display: inline-block;
    list-style: none;
    transition: all 0.3s ease;
}

.global-navbar ul li:hover {
    background: var(--navbar-hover-color);
    border-radius: 5px;
}

.global-navbar ul li a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    font-family: var(--avengers-font);
    margin-top: 20px;
    padding: 20px;
    transition: all 0.3s ease;
}

.global-navbar ul li a:hover {
    color: white;
}