/* header */
.global-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Text format */
h1 {
    color: rgb(61, 61, 61);
}

.italic-format {
    font-style: italic;
}

/* header & content */
.global-header, .global-content {
    text-align: center;
}

/* Footer */
.global-footer {
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}