body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    /*
    background: linear-gradient(-135deg, rgb(3, 47, 86), rgb(174, 209, 241));
    */
}