@font-face{
    font-family: Avengeance Heroic Avenger;
    src: url(../fonts/AVENGEANCE\ HEROIC\ AVENGER\ BD.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background: url(../img/background-home.jpg);
    /*
    background: linear-gradient(-135deg, rgb(3, 47, 86), rgb(174, 209, 241));
    */
}

.custom-font h1 {
    font-family: Avengeance Heroic Avenger;
    font-size: 130px;
    color: white;
}

.custom-font h2 {
    font-family: Avengeance Heroic Avenger;
    font-size: 70px;
    color: white;
    text-decoration: none;
}

.custom-font a {
    position: relative;
    text-decoration: none;
}

.custom-font a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background: white;
    transition: width .3s;
}

.custom-font a:hover::after {
    width: 100%;
    transition: width .3s;
}