@font-face{
    font-family: Avengeance Heroic Avenger;
    src: url(../fonts/AVENGEANCE\ HEROIC\ AVENGER\ BD.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background: white;
    /*
    background: url(../img/background-home.jpg);
    background: linear-gradient(-135deg, rgb(3, 47, 86), rgb(174, 209, 241));
    */
}

.custom-font h1 {
    font-family: Avengeance Heroic Avenger;
    font-size: 130px;
    color: black;
    text-align: center;
}

.custom-font h2 {
    font-family: Avengeance Heroic Avenger;
    font-size: 70px;
    margin-top: 25px;
    color: black;
    text-align: center;
    text-decoration: none;
}

#cade {
    margin-left: 27%;
}