/* table */
.table-seasons {
    color: red;
    margin: 20px auto;
    width: 500px;
}

.table-seasons table {
    width: 500px;
}

/* Seasons page */
.global-media-content {
    width: 560px;
    margin: 0 auto;
}

.global-media-content h2 {
    text-align: center;
}

nav a {
    text-decoration: none;
}