/* header */
header {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Text format */
h1 {
    color: rgb(61, 61, 61);
}

.italic-format {
    font-style: italic;
}

.global-footer {
    margin-top: 20px;
    text-align: center;
}

/* menu */
li {
    padding: 5px;
    display: inline-block;
    list-style: none;
}
a {
    text-decoration: none;
}

/* table */
.table-seasons {
    margin-top: 20px;
    color: red;
}